<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Owls</title>
</head>
<body>
    <div class="container">
        <a href="/owls/new" class="btn btn-primary">Create</a>
        <h1 class="text-center">Owls!</h1> 
        <div class="jumbotron">
            <div class="row">
                <% for(let owl of owls) { %>
                    <div class="bg-light col-md-3 mr-3">
                        <h4>Name: <%= owl.name %></h4>
                        <h4>Wisdom: <%= owl.wisdom %></h4>
                        <h4>Age: <%= owl.age %></h4>
                        <a href="/owls/<%= owl._id %>" class="btn btn-success">Show</a>
                        <a href="/owls/edit/<%= owl._id %>" class="btn btn-warning">Edit</a>
                        <a href="/owls/destroy/<%= owl._id %>" class="btn btn-danger">Delete</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
</body>
</html>